<app-navbar></app-navbar>

<ul>

  <div>
    <span *ngFor="let in of counter() ;let i = index"><button (click)="getPeoplePage(i+1)">{{i+1}}</button>&nbsp;</span>
  </div>

    <li *ngFor="let people of peopleList">
        <mat-card>
            <img
              mat-card-image
              src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              [alt]="people.name"
            />
          
            <mat-card-content>
              <p>
                <strong> {{people.name}} </strong>
                {{people.name}}, {{people.birth_year}}
              </p>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button>Like ❤️</button>
              <button mat-button>share 👍</button>
            </mat-card-actions>
          </mat-card>
          
    </li>
  </ul>
