<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div>
    <li *ngFor="let profesor of profesoresList" let i = index>
        {{profesor.name}} imparte la asignatura {{profesor.asignatura}}        
    </li>
</div>

<mat-list>

    <button (click)="sort()">Ordenar</button>
    <div mat-subheader>Profesores</div>
    <mat-list-item *ngFor="let profesor of profesoresList">

    
<!--
No usar ngIf y repasar

    
    <div *ngIf="profesor.sexo=='Hombre'; else elseBlock">
        <span class="material-symbols-outlined"> male </span>
    </div>
    <ng-template #elseBlock>
        <span class="material-symbols-outlined">
            female
        </span>
    </ng-template>
-->

    <mat-icon class="material-symbols-outlined">{{profesor.sexo == 'Hombre'? 'male' : 'female'}}</mat-icon> 

      <div mat-line>{{profesor.name}}, {{profesor.surname}}</div>
      <div mat-line> {{profesor.asignatura}} </div>
    </mat-list-item>
    <mat-divider></mat-divider>

  </mat-list>



  